* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;

}

div {
  color: white;
}

a:hover {
  color: blue;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 200pt;

}

a {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
  color: gray;
}

}
h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
}

h3 {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
}

h4 {
  font-family: 'Heebo', sans-serif;
  font-weight: 100;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
  background-image: url("file:///Users/rachel/Documents/potw1437a.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: repeat-y;
}

.verb h1 {
  font-size: 200px;
  text-align: center;
}

a:hover {
  color: blue;
}